*{
    margin: 0;
    padding: 0;
}

body{
     font-family: 'Montserrat';
    background-color: #003F2A;

}

.header{
    padding-block: 30px;
    background-color: white;
}

.header_container{
    max-width: 1312px;
    margin-inline: auto;
}

.header_nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.header_list{
    display: flex;
    gap: 49px;
}

ul{
    list-style: none;
}

.header_list-link{
    font-family: 'Montserrat';
    font-weight: 400;
    color:grey;
    transition: color 0.2s;
}

.header_list-link:hover{
    color:black;
}

.header_logo{
    font-size: larger;
}

a{
    text-decoration: none;
}

.hero_tittle{
    color: white;
    margin: 20px 500px;
    font-size: xx-large;
}

.hero_text-p1{
    color: white;
    margin: 20px 900px 10px 100px;
    font-size: large;
    line-height: 1.6;
    max-width: 800px;
}
.hero_text-p2{
    color: white;
    margin: 10px 100px 20px 900px;
    font-size: large;
    line-height: 1.6;
    max-width: 800px;
}