*{
    margin: 0;
    padding: 0;
}

body{
     font-family: 'Montserrat';
}

.header{
    padding-block: 30px;
}

.header_container{
    max-width: 1312px;
    margin-inline: auto;
}

.header_nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.header_list{
    display: flex;
    gap: 49px;
}

ul{
    list-style: none;
}

.header_list-link{
    font-family: 'Montserrat';
    font-weight: 400;
    color:grey;
    transition: color 0.2s;
}

.header_list-link:hover{
    color:black;
}

p{
    font-size: larger;
}

a{
    text-decoration: none;
}